@import "tailwindcss";

.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-geistsans {
  font-family: var(--font-geist-sans), sans-serif;
}